body {
    align-items: center;
    align-content: center;
}

iframe {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    border-radius: 5px;
}

/* body>div {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    box-shadow: -5px 5px 10px rgb(230, 230, 230);
} */