body {
    background-color: rgb(245, 245, 245) !important;
}

h1 {
    margin-top: 10%;
    text-align: center;
    font-size: 25px;
}

.submit-button {
    background-color: rgb(50, 50, 50) !important;
    border-color: rgb(50, 50, 50) !important;
}

li.form-line:not(.form-line-column) .form-input-wide[data-layout=half] {
    width: 100% !important;
}